<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Term A Sec 1</string>
		<key>latitude</key>
		<real>32.9028</real>
		<key>longitude</key>
		<real>-97.038653</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term A Sec 3</string>
		<key>latitude</key>
		<real>32.906682</real>
		<key>longitude</key>
		<real>-97.03821499999999</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term B Sec 2</string>
		<key>latitude</key>
		<real>32.905122</real>
		<key>longitude</key>
		<real>-97.044523</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term B Sec 3</string>
		<key>latitude</key>
		<real>32.902782</real>
		<key>longitude</key>
		<real>-97.04245299999999</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term C Sec 1</string>
		<key>latitude</key>
		<real>32.895643</real>
		<key>longitude</key>
		<real>-97.038056</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term C Sec 2</string>
		<key>latitude</key>
		<real>32.896731</real>
		<key>longitude</key>
		<real>-97.036406</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term C Sec 3</string>
		<key>latitude</key>
		<real>32.899552</real>
		<key>longitude</key>
		<real>-97.03842400000001</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term D Sec 1</string>
		<key>latitude</key>
		<real>32.898949</real>
		<key>longitude</key>
		<real>-97.042956</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term D Sec 2</string>
		<key>latitude</key>
		<real>32.896681</real>
		<key>longitude</key>
		<real>-97.043773</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term D Sec 1 Departure</string>
		<key>latitude</key>
		<real>32.898223</real>
		<key>longitude</key>
		<real>-97.044004</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term D Sec 2 Departure</string>
		<key>latitude</key>
		<real>32.896602</real>
		<key>longitude</key>
		<real>-97.04376000000001</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term E Sec 1</string>
		<key>latitude</key>
		<real>32.888529</real>
		<key>longitude</key>
		<real>-97.038212</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term E Sec 2</string>
		<key>latitude</key>
		<real>32.890831</real>
		<key>longitude</key>
		<real>-97.03633499999999</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term E Sec 3</string>
		<key>latitude</key>
		<real>32.891908</real>
		<key>longitude</key>
		<real>-97.037032</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term C Inner 1</string>
		<key>latitude</key>
		<real>32.898617</real>
		<key>longitude</key>
		<real>-97.03819300000001</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term C Inner 2</string>
		<key>latitude</key>
		<real>32.8976</real>
		<key>longitude</key>
		<real>-97.037167</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term C Inner 3</string>
		<key>latitude</key>
		<real>32.896502</real>
		<key>longitude</key>
		<real>-97.038027</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term D Departure Road</string>
		<key>latitude</key>
		<real>32.899058</real>
		<key>longitude</key>
		<real>-97.041985</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Term D Arrival Road</string>
		<key>latitude</key>
		<real>32.897679</real>
		<key>longitude</key>
		<real>-97.04163800000001</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>DFW North - Ohare Dr.</string>
		<key>latitude</key>
		<real>32.913738</real>
		<key>longitude</key>
		<real>-97.011263</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
</array>
</plist>
